/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9d9d9;

  width: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 10px;
}
.ProseMirror-focused {
  outline: none;
}
.filter-modal {
  box-shadow: #666;
  border-radius: 20px;
  max-width: 100vw;
}
.search {
  background-color: rgb(232, 233, 136);
}
.search-term {
  font-weight: bold;
}
